<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vcenter Monitoring</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" />
    
    <!-- data tables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/datatable.min.css') }}" />
    

</head>

<body>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Vcenter Monitoring</a>
        </div>
        <ul class="nav navbar-nav">
          <li id="hosts"><a href="/">Hosts</a></li>
          <li id='vms'><a href="/vms">Virtual Machines</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="table-responsive data_table">
      </div>
      
    </div>
    <div>
    <input type="hidden" value="{{ data }}" class="data"/>
    <input type="hidden" value="{{ header }}" class="header"/>
    <input type="hidden" value="{{ am }}" class="am"/>

    </div>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- lodash -->
    <script src="{{ url_for('static', filename='bower_components/lodash.js') }}"></script>

    <!-- lodash -->
    <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>

    <!-- data tables -->
    <script src="{{ url_for('static', filename='bower_components/datatable.min.js') }}"></script>

    <!-- custom js files -->
    <script src="{{ url_for('static', filename='js/cusstom.js') }}"></script>


</body>

</html>
